* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
.contenedor {
    width: 100%;
    height: 70px;
    background-color: white;
    background-image: linear-gradient(white);
    border-bottom: 2px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 30px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .contenedor__logo {
    padding-left: 20px;
    padding-top: 25px;
    font-size: xx-large;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    color: rgb(10, 10, 10);
    text-shadow: 5px 5px 5px white;
  }
  .contenedor__foto {
    margin-left: 3%;
    margin-top: 6px;
    display: block;
    width: 65px;
    height: 50px;
    align-content: center;
  }
  .contenedor__foto img {
    width: 100%;
    height: 100%;
  }
  .grande {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grande__menu {
    width: 10%;
    height: 100%;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: 2px solid rgb(5, 5, 5);
    padding-left: 20px;
    padding-top: 25px;
    list-style: none;
  }
  .menu__lista {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__lista ul {
    list-style: none;
    font-size: large;
    font-family: "Heebo", sans-serif;
    font-style: italic;
  }
  .menu__lista ul li a {
    padding-top: 25px;
    text-decoration: none;
    color: black;
  }
  .menu__lista--item {
    margin-top: 50px;
  }
  
  .menu__lista ul :hover {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    text-shadow: 2px 2px 2px white;
  }
  .grande__centro {
    background-color: white;
    margin-left: auto;
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .centro__contenido {
    width: 80%;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .centro__contenido img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    border-color: white;
  }
  
  .centro__contenido--obra {
    width: 60%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  
  .centro__contenido--obra img {
    border: none;
  }
  
  .centro__contenido--titulo {
    width: 100%;
    height: 10%;
    background-color: white;
    color: black;
    text-align: center;
    font-family: "heebo", sans-serif;
    text-shadow: 2px 2px 2px;
  }