*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.caja{
    width: 200px;
    height: 200px;
    margin: 30px;
    display: inline-block;
}
.ej1{
    background: linear-gradient(red,white,red,black,white,red,white,black,white,red,black,red,white,red,black,white,red,white,black,white,red,black);
    transition: all 4s ease;
}
.ej2{
    background: radial-gradient(white,black,white,red,black,white,black,white,red,black,white,black,white,red,black,white,black,white,red,black,white,black,white,red,black);
transition: all 2s;
}
.ej3{
    background: linear-gradient(black,black);
    transition: all 3s;
    border: 30px;
}
.ej1:hover{
    background: linear-gradient(navy, violet,aqua);
    transform: translate(20px, 100px);
    height: 300px;
}
.ej2:hover{
    transform: scale(1, 1);
    border-radius: 30px;
}
.ej3:hover{
    transform: rotate(30deg);
    border-radius: 50%;
    background: grey;
}